@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --black: #1B1722;
    --white: #fcfcfc;
    --box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
*{
    box-sizing: border-box;
    /* margin: 0%;
    padding: 0%;     */
    font-family: "Quicksand", sans-serif;
    /* border: 2px solid; */
}
.home{
    display: flex; 
    align-items: center;
    height: 500px;
    margin-bottom: 6rem;
    /* text-align: center; */
    /* position: relative; */
    /* padding-top: 10%; */
}
.home .homecontent{
    /* width: 70%; */
    /* float: right; */
    /* padding-left: 25%; */
    justify-content: center;
    padding: 20px 265px;
    text-align: center;
}
.home .homecontent h2{
    color: #ffffff;
    font-size: 7rem;
    font-weight: bolder;
    margin-bottom: 1rem;
    /* padding-left: 15%; */
    padding-top: 10%;
    line-height: 7rem;
    text-shadow: var(--box-shadow);
}
.home .homecontent p{
    color: #ffffff;
    font-size: 1.8rem;
    line-height: 2;
    margin-bottom: 2rem;
}
.product{
    padding: 2rem 7%;
}
.heading{
    font-size: 3rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
}
.product-row{
    margin-bottom: 4rem;
    display: flex;
    align-items: center;
}
.product-row .box{
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    align-items: center;
    text-align: center;
    padding: 2rem 2rem;
    /* gap: 1rem; */
    width: 15rem;
    height: 37rem;
    border-radius: 2rem;
    /* margin-right: 3rem; */
}
.product .product-row .img img{
    height: 100%;
    width: 100%;
}
.product .product-row .img img:hover{
    transform: scale(1.1);
}
.product .product-row .pro-content{
    margin-bottom: 1rem;
}
.product .product-row .pro-content h3{
    font-size: 2.3rem;
    color: #000000;
}
.product .product-row .pro-content p{
    font-size: 1.4rem;
    line-height: 1.5;
    color: #000000;  
}
.product .product-row .pro-content .ordernow{
    height: 3rem;
    margin-top: 2rem;
}
.product .product-row .pro-content .ordernow button{
    font-size: 1.8rem;
    background-color: #000000;
    color: rgb(255, 255, 255);
    border-radius: .7rem;
    padding: .7rem 2rem;
    cursor: pointer;
}
.product .product-row .pro-content .ordernow button:hover{
    font-size: 1.9rem;
}

@media (max-width:991px){
    .home .homecontent{
        margin-left: 0;
        width: 80%;
    }
}
@media (max-width:811px){
    .home .homecontent{
        margin-left: 0;
        width: 90%;
    }
}