@import url('https://fonts.googleapis.com/css2?family=Ysabeau+Infant&display=swap');


/* :root{
    --black: #000000;
    --white: #fff;
    --box-shadow: 0 4px 4px rgba(0, 0, 0);
} */
*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: "Ysabeau Infant", sans-serif;
    border: none;
    outline: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
}
html::-webkit-scrollbar{
    width: .8rem;
}
html::-webkit-scrollbar-track{
    background: transparent;
}
html::-webkit-scrollbar-thumb{
    background-color: var(--white);
    border-radius: 5rem;
}
header{
    top: 0; right: 0; left: 0;
    background-color: rgb(249, 219, 195);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 5px 7%;
}
header .logoContent{
    margin-right: auto;
    display: flex;
    align-items: center;
}
.logo{
    cursor: pointer;
    width: 200px;
    height: 60px;
}
header .navbar a{
    display: inline-block;
    /* align-items: left;   */
    padding: 0px 20px;
    /* font-size: 18px; */
    transition: all 0.3s ease 0s;
}
header .navbar a:hover{
    color: rgb(201, 125, 63);
}
a, button {
    font-family: "Ysabeau Infant", sans-serif;
    font-weight: 700;
    font-size: 16px;
    color:black;
    text-decoration: none;
}

button.join-us{
    margin-left: 20px;
    color: aliceblue;
    padding: 9px 25px;
    background-color: rgb(201, 125, 63);
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
button.join-us:hover{
    background-color: rgb(197, 118, 54, 0.8);
}
.icon i{
    font-size: 20px;
    /* margin-left: 30px; */
    margin-right: 2rem;
    cursor: pointer;
}
body {
    width: 100%;
    background-color: rgba(137, 116, 98, 0.326);
    overflow: auto;
}
#menu{
    display: none;
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.3rem 3rem;
    }
}
@media (max-width:811px){
    #menu{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        top: 100%;
        right: -100%;
        width: 25rem;
        background-color: rgb(250, 233, 219);
        /* color: var(--black); */
        height: 80vh;
    }
    .header .navbar.active{
        right: 0;
    }
    .header .navbar a{
        display: block;
        font-size: 2rem;
        color: black;
        margin: 1.5rem;
    }
    .header .navbar button{
        display: flex;
        /* font-size: 2rem; */
        margin: .1rem;
    }
}
@media (max-width:600px){
    html{
        font-size: 50%;
    }
}